.graph-container{
  border: 2px solid black;
  max-width: 1080px;
  margin: 0 auto;
}

#canvas { 
  display: block; 
  width: 300px; 
  margin: 100px auto;
}

@font-face { 
  font-family: "bebas"; 
  src: url("http://thecodeplayer.com/uploads/fonts/BebasNeue.otf");
}

